node_modules
dist
.git
.vscode
.env
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
docker-compose.yml
compose.yml
Dockerfile
.dockerignore
test
coverage
.prettierrc
eslint.config.mjs
nest-cli.json
tsconfig.build.json
tsconfig.json
README.md
GEMINI.md
seed_data.sql
